---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ include "zigbee2mqtt.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zigbee2mqtt.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "zigbee2mqtt.fullname" . }}
  template:
    metadata:
      annotations:
        checksum/configuration: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "zigbee2mqtt.labels" . | nindent 8 }}
        app: {{ include "zigbee2mqtt.fullname" . }}
    spec:
      {{- if .Values.image.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.imagePullSecrets | indent 8 }}
      {{- end }}
      dnsPolicy: {{ .Values.statefulset.dnsPolicy }}
{{- with .Values.statefulset.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
      nodeSelector:
{{- with .Values.statefulset.nodeSelector }}
{{ toYaml . | indent 8 }}
{{- end }}
      {{- with .Values.statefulset.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- with .Values.statefulset.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
      containers:
        - name: zigbee2mqtt
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- with .Values.statefulset.lifecycle }}
          lifecycle:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.statefulset.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.statefulset.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TZ
              value: {{ .Values.zigbee2mqtt.timezone }}
          ports:
            - containerPort: {{ .Values.zigbee2mqtt.frontend.port }}
              name: web
              protocol: TCP
          {{- with .Values.statefulset.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
          {{- with .Values.statefulset.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            - mountPath: /app/data/configuration.yaml
              name: config-volume
              subPath: configuration.yaml
            {{- if .Values.statefulset.secrets.name }}
            - mountPath: /app/data/secret.yaml
              name: secrets-volume
              subPath: secret.yaml
            {{- end }}
            - mountPath: /app/data/
              name: data-volume
          resources: {{- toYaml .Values.statefulset.resources | nindent 12 }}
      volumes:
      {{- with .Values.statefulset.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        - name: config-volume
          configMap:
            name: {{ include "zigbee2mqtt.fullname" . }}
        {{- if .Values.statefulset.secrets.name }}
        - name: secrets-volume
          secret:
            secretName: {{ .Values.statefulset.secrets.name }}
        {{- end }}
        {{- if not .Values.statefulset.storage.enabled }}
        - name: data-volume
          emptyDir: { }
        {{- end }}
  {{- if .Values.statefulset.storage.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: data-volume
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ .Values.statefulset.storage.storageClassName }}
      {{- if .Values.statefulset.storage.existingVolume }}
      volumeName: {{ .Values.statefulset.storage.existingVolume }}
      {{- end }}
      {{- if or .Values.statefulset.storage.matchLabels (.Values.statefulset.storage.matchExpressions) }}
      selector:
      {{- if .Values.statefulset.storage.matchLabels }}
        matchLabels:
        {{ toYaml .Values.statefulset.storage.matchLabels | indent 8 }}
      {{- end -}}
      {{- if .Values.statefulset.storage.matchExpressions }}
        matchExpressions:
          {{ toYaml .Values.statefulset.storage.matchExpressions | indent 8 }}
        {{- end -}}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.statefulset.storage.size }}
  {{- end }}
